* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card {
    width: 100%;
    
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.plan-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-section img {
    width: 3.25rem;
}

.plan-info {
    width: 100%;
}

.payment-link {
    display: block;
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}